* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    height: 120px;
    width: 100%;
    display: flex;
    flex-direction: row; /* Alterado para coluna para centralizar verticalmente */
    justify-content: space-between; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    background-color: white;
}

#logo {
    width: 80px;
    height: 75px;
}

header a {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: #F65E77;
}

header a i{
    margin-right: 10px;
}

.login-container {
    margin-left: 350px;
    position: absolute;
}

.logo-container{
    position: absolute;
    margin-left: 700px;
}

.carrinho-container{
    position: absolute;
    margin-left: 1050px;
}

.carrinho-numero {
    background-color: red; /* Cor de fundo da bolinha */
    color: #fff; /* Cor do texto do número */
    margin-top: 4px;
    padding-top: 1px; /* Espaçamento interno da bolinha */
    padding-bottom: 1px; /* Espaçamento interno da bolinha */
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 50%; /* Para tornar a bolinha circular */
    font-size: 12px; /* Tamanho da fonte do número */
    position: absolute;
    top: -18px; /* Ajuste a posição vertical conforme necessário */
    margin-left: -17px; /* Ajuste a posição horizontal conforme necessário */
}

/* Mantenha o bloco .navegacao-1 e seus estilos */

.navegacao-1 {
    background-color: #FFD1D4;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto; /* Centraliza horizontalmente */
    padding: 0 20px; /* Adapte conforme necessário */
    box-shadow: 0px 0px 2.5px #F277B0;
}

.barra-opcoes ul {
    display: flex;
    list-style-type: none;
    margin-left: 400px;
}

.barra-opcoes li {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: 0.95rem;
    margin: 0 25px;
}

.barra-opcoes li a {
    text-decoration: none;
    color: #F26B83;
}

.barra-opcoes li a:hover {
    color: white;
}

/*CONTAINER SHOPPING*/

.shopping-container {
    background-color:white;
    margin-left: -15px;
    height: 700px;
    width: 101%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#shopping-titulo{
    font-family: 'Coppeplate', fantasy;
    color: #F285A2;
    font-size: 3rem;
    font-weight: normal;
    margin-top: 40px;
    margin-left: -20px;
    align-self: left;
}

.shopping-content-1{
    background-color: thistle;
    margin-left: -15px;
    margin-top: 40px;
    height: 700px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shopping-content-1 #shopping-resumo{
    margin-top: 30px;
    margin-bottom: 60px;
    font-size: 1.3rem;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    text-align: center;
    color: rgb(88, 88, 88);
}

.shopping-botoes #continuar-comprando{
    background-color: #F24949;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 25px; 
    padding: 8px 45px;
    font-size: 0.8rem;
}

.shopping-botoes #continuar-comprando:hover{
    background-color: #F65E77;
    padding: 8px 45px;
    font-size: 0.8rem;
    font-weight: 500;
}

/*FOOTER*/

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -10px;
}

.footer-2{
    margin-left: -25px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
}

.footer-2 p{
    font-size: small;
    color: rgb(88, 88, 88);
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 20px;
}
.footer-2 h3{
    font-size: medium;
    color: rgb(88, 88, 88);
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
}

.footer-1 ul{
    margin-top: 200px;
    margin-left: -20px;
    display: flex;
    flex-direction: row;
    justify-items: center;    
    list-style-type: none;
}

.footer-1 li {
    margin: 0 25px;
}

.footer-1 li a{
    text-decoration: none;
}